div.light-blue {
    height: 30px;
}

div#grid {
    padding-left: 0px;
    margin-left: -102px;
}

td {
    width: 50px;
}

h1 {
    color: #0a3152;
    text-align: center;
}


.auto-style3 {
    margin-left: 0px;
}



.auto-style4 {
    height: 364px;
    width: 1350px;
    overflow: scroll;
}



.auto-style6 {
    position: relative;
    min-height: 1px;
    top: -4px;
    left: 0px;
    width: 37%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

div.form-group {
    width: 40%;
    height: 10%;
}

div.form-group1 {
    margin-top: -100px;
    margin-left: 800px;
    width: 40%;
    height: 10%;
}

div.form-group2 {
    width: 40%;
    height: 10%;
}

div.form-group3 {
    margin-top: -100px;
    margin-left: 800px;
    width: 40%;
    height: 10%;
}


.auto-style7 {
    height: 15px;
}


.auto-style10 {
    position: relative;
    min-height: 1px;
    top: -5px;
    left: 443px;
    width: 37%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 73px;
}

.auto-style9 {
    width: 1064px;
}

.col22 {
    left: 400px;
}


.auto-style11 {
    width: 1064px;
    height: 76px;
}
